{% extends app.request.isXmlHttpRequest ? 'WebProfilerBundle:Profiler:ajax_layout.html.twig' : 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        <img width="20" height="28" alt="Database" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAcCAYAAABh2p9gAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQRJREFUeNpi/P//PwM1ARMDlcGogZQDlpMnT7pxc3NbA9nhQKxOpL5rQLwJiPeBsI6Ozl+YBOOOHTv+AOllQNwtLS39F2owKYZ/gRq8G4i3ggxEToggWzvc3d2Pk+1lNL4fFAs6ODi8JzdS7mMRVyDVoAMHDsANdAPiOCC+jCQvQKqBQB/BDbwBxK5AHA3E/kB8nKJkA8TMQBwLxaBIKQbi70AvTADSBiSadwFXpCikpKQU8PDwkGTaly9fHFigkaKIJid4584dkiMFFI6jkTJII0WVmpHCAixZQEXWYhDeuXMnyLsVlEQKI45qFBQZ8eRECi4DBaAlDqle/8A48ip6gAADANdQY88Uc0oGAAAAAElFTkSuQmCC">
        <span class="sf-toolbar-status">{{ collector.totals.count }}</span>
        {% if collector.totals.count > 0 %}
            <span class="sf-toolbar-info-piece-additional-detail">in {{ '%0.2f'|format(collector.totals.duration * 1000) }} ms</span>
        {% endif %}
    {% endset %}
    {% set text %}
        <div class="sf-toolbar-info-piece">
            <strong>Requests</strong>
            <span>{{ collector.totals.count }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <strong>Total duration</strong>
            <span>{{ '%0.2f'|format(collector.totals.duration * 1000) }} ms</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <strong>Hits</strong>
            <span>{{ collector.totals.hit }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <strong>Misses</strong>
            <span>{{ collector.totals.miss }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <strong>Writes</strong>
            <span>{{ collector.totals.write }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <strong>Deletes</strong>
            <span>{{ collector.totals.delete }}</span>
        </div>
    {% endset %}
    {% include 'WebProfilerBundle:Profiler:toolbar_item.html.twig' with { 'link': profiler_url } %}
{% endblock %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/doctrinecache/css/profiler.css') }}">
{% endblock %}

{% block body %}
    {{ parent() }}
    <script src="{{ asset('bundles/doctrinecache/js/profiler.js') }}"></script>
{% endblock %}

{% block menu %}
    <span class="label">
        <span class="icon">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAcCAYAAAB/E6/TAAABLUlEQVR42u3TP0vDQBiA8UK/gDiLzi0IhU4OEunk5OQUAhGSOBUCzqWfIKSzX8DRySF0URCcMjWLIJjFD9Cpk/D6HITecEPUuzhIAz8CIdyTP/f2iqI4qaqqDx8l5Ic2uIeP/bquezCokOAFF+oCN3t4gPzSEjc4NEPaCldQbzjELTYW0RJzHDchwwem+ons6ZBpLSJ7nueJC22h0V+FzmwWV0ee59vQNV67CGVZJmEYbkNjfpY6X6I0Qo4/3RMmTdDDspuQVsJvgkP3IdMbIkIjLPBoadG2646iKJI0Ta2wxm6OdnP0/Tk6DYJgHcfxpw21RtscDTDDnaVZ26474GkkSRIrrPEv5sgMTfHe+cA2O6wPH6vOBpYQNALneHb96XTEDI6dzpEZ0VzO0Rf3pP5LMLI4tAAAAABJRU5ErkJggg==" alt="Doctrine Cache">
        </span>
        <strong>Cache</strong>
        <span class="count">
            <span>{{ collector.totals.count }}</span>
            <span>{{ '%0.0f'|format(collector.totals.duration * 1000) }} ms</span>
        </span>
    </span>
{% endblock %}

{% block panel %}
    {{ page == 'dump' ? block('panel_dump') : block('panel_default') }}
{% endblock %}

{% block panel_default %}
    <h2>Doctrine Cache</h2>
    {% for name, types in collector.logs %}
        <h3>Logs for cache: {{ name }}</h3>
        {% for type, logs in types %}
            <h4>{{ type|capitalize }}</h4>
            <table>
                <thead>
                <tr>
                    <th>Time</th>
                    <th>Duration</th>
                    <th>Success</th>
                    <th>Cache ID</th>
                </tr>
                </thead>
                <tbody>
                {% for index, log in logs %}
                    <tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
                        <td>{{ log.start|split('.')|first|date('H:i:s') }}.{{ "%-04s"|format(log.start|split('.')|last) }}</td>
                        <td>{{ (log.duration * 1000)|number_format(2) }} ms</td>
                        <td>{{ log.success ? 'YES' : 'NO' }}</td>
                        <td>{{ log.id }}</td>
                    </tr>
                    {% if log.data %}
                        <tr class="{{ (index + 1) is odd ? 'odd' : 'even' }}">
                            <td colspan="4">
                                <a class="show-dump" href="{{ path('_profiler', {'panel': 'doctrine_cache', 'token': token, 'page': 'dump', 'cacheName': name, 'requestType': type, 'logIndex': index}) }}" data-target-id="dump-{{ name }}-{{ type }}-{{ index }}" title="Dump stored cache entry data">
                                    <img class="icon icon-plus" alt="+" src="{{ asset('bundles/framework/images/blue_picto_more.gif') }}">
                                    <img class="icon icon-minus" alt="-" src="{{ asset('bundles/framework/images/blue_picto_less.gif') }}" style="display: none;">
                                    <span>Show dump</span>
                                </a>
                                <div id="dump-{{ name }}-{{ type }}-{{ index }}" class="loading"></div>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block panel_dump %}
    {% include 'DoctrineCacheBundle:Profiler:dump.html.twig' with {'data': collector.logs[app.request.query.get('cacheName')][app.request.query.get('requestType')][app.request.query.get('logIndex')]['data']} %}
{% endblock %}
